
body{
    background-color: rgb(0, 255, 98);
    text-emphasis-color: black;
    list-style-type: none;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

.header{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
}

h1{
    margin-block-start:0px;
    padding-top: 25px;
}

main{
    margin: 0px 20px 0 20px;
}

.list {
    width: 600px;
    height: 500px;
    margin: auto;
    letter-spacing: 1.5mm;
    line-height: 1cm;
    font-size: larger;
    padding-top: 50px;
}

.list div{
  text-align: center;
}

li:first-child{
    list-style-type: none;
    font-size: xx-large;
    font-weight: bold;
    text-decoration:underline;
}

.button{
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 16px;
  font-weight: bolder;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  /* text-transform: none; */
  /* touch-action: manipulation; */
  /* user-select: none; */
  /* -webkit-user-select: none; */
  /* vertical-align: middle; */
  /* white-space: nowrap; */
}

.button:hover {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  box-shadow: #000 4px 4px 0 0,#000 4px 4px 0 1px;
}

.button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button:not([disabled]):active {
  box-shadow: #000 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

footer{
    position: fixed;
    bottom: 0px;
    text-align: center;
    height: 75px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
}

.footer{
    padding-top: 20px;
}

.logo{
    position: fixed;
    right:0;
    bottom: 5px;
    padding: 20px;
    width: 150px;
    text-align: end;
}